.testWrapper {
  display: flex;
  align-items: top;
  max-width: 1200px;
  margin: auto;
  padding-top: 40px;
  @media screen and (min-width: 994px) {
    min-height: 585px;
  }
  @media screen and (max-width: 993px) {
    flex-direction: column;
    margin: auto !important;
    align-items: center;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 10px;
  }

  .progress-circle {
    margin-top: 20px;
    @media screen and (max-width: 993px) {
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
}

.questionWrapper {
  padding-left: 20px;
}

.testTitle {
  font-size: 20px;
  margin: 0;
  padding-left: 240px;
  max-width: 640px;
  margin-top: 40px;
  @media screen and (max-width: 993px) {
    padding: 20px;
    text-align: center;
    width: 100%;
  }
}

.testQuestionWrapper {
  flex: 1;
  padding-left: 40px;
  text-align: left;
  max-width: 660px;
  width: 660px;

  @media screen and (max-width: 993px) {
    padding: 0;
    width: auto;
  }
}

.testBtn {
  background: #007bff;
  color: white;
  border-radius: 0;
  border: 0;
  color: white;
  cursor: pointer;
  outline: 0;
  padding: 10px 25px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 19px;
  display: flex;
  margin: 0;
  &:disabled {
    background: grey;
    cursor: default;
  }
}

.testAnswers {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .testSelectWrapper {
    margin: 20px 10px;

    .testImageWrapper {
      opacity: 0.5;
      min-height: 400px;
      cursor: pointer;
    }
    &:first-child {
      margin-left: 0;
    }

    &:hover {
      .testImageWrapper {
        opacity: 1;
      }
    }

    &.active {
      // opacity: 1;
    }

    img {
      width: 100%;
      height: auto;
    }

    .bi-check-square {
      margin: 10px auto 20px;
      display: flex;
      width: 30px;
      height: 30px;
      cursor: pointer;

      path {
        &:nth-child(2) {
          visibility: hidden;
        }
      }

      &:hover {
        path {
          fill: #007bff;
        }
      }
    }

    &.active {
      .testImageWrapper {
        opacity: 1;
      }
      .bi-check-square {
        path {
          &:nth-child(2) {
            visibility: visible;
          }

          fill: #007bff;
        }
      }
    }
  }
}

.testResultIcon {
  width: 240px;
  height: 240px;

  svg {
    width: 70%;
    height: 70%;

    path {
      fill: #58b814;
    }
  }

  &--success {
    svg {
      path {
        fill: #58b814;
      }
    }
  }
  &--fail {
    svg {
      path {
        fill: red;
      }
    }
  }
}
